ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: pink;
    overflow: hidden;
}
li {
    float: left;
}
a {
    display: block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}
a:hover {
    text-decoration: double;
    font-size: 20px
}